.estreiaHoje {
  color: darkred;
}

.estreiaAmanha{
  color: darkblue;
}

.removeSublinhado {
  text-decoration-line: none;
}

.mudaCorLink {
  color: seagreen;
}

p {
  font-size: 20px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
